.venv/
__pycache__/
*.pyc


node_modules/

.env
*.env


.DS_Store
.vscode/
.idea/

/backend/Api/bin/
/backend/Api/obj/
/backend/Api/AppData/*.db
/backend/Api/AppData/*.sqlite
/backend/Api/AppData/*.db-shm
/backend/Api/AppData/*.db-wal
/backend/Api/AppData/*.sqlite-shm
/backend/Api/AppData/*.sqlite-wal
